## python operators

In [5]:
a =6+9
b = 99
a
b

99

In [7]:
a =6+9
b = 99
print(a,"\n")
print(b)

15

99

In [2]:
4 * 6

24

In [3]:
1 / 5

0.2

In [8]:
list_1 = [1,4,5,7,89]
sum(list_1)

106

In [4]:
2 ** 3

8

In [10]:
18 % 5

3

In [6]:
7 % 2

1

In [11]:
11//3

3

In [3]:
11/3

3.6666666666666665

## Comparison Operators

In [12]:
1 > 2

False

In [13]:
1 < 2

True

In [14]:
1 >= 1

True

In [15]:
1 <= 4

True

In [16]:
1 == 1

True

In [17]:
'hi' == 'bye'

False

## Logic Operators

In [3]:
(7 > 2) and (2 < 3)

True

In [4]:
(1 > 2) or (2 < 3)

True

In [7]:
(1 == 2) and (2 == 3) and (4 == 4)

True

In [18]:
x= 13

In [20]:
not(x < 5 and x < 10)

False

In [21]:
var = 4==4
var

True

In [24]:
bool(123)

True

In [25]:
bool(0)

False

In [26]:
bool(1)

True

In [23]:
bool("")

False

## if,elif, else Statements

In [ ]:
if 1 < 2:
    print('Yes!')

In [28]:
if 1 < 2:
    print('yes!')

yes!

In [ ]:
if 1 < 2:
    print('first')
else:
    print('last')

In [ ]:
if 1 > 2:
    print('first')
else:
    print('last')

In [ ]:
if 1 == 2:
    print('first')
elif  5 == 5:
    print('middle')
else:
    print('Last')

## for Loops

In [29]:
list1 = [2,4,6,8,10]

In [30]:
for y in list1:
    print(y)

2
4
6
8
10

In [31]:
for item in list1:
    print('Yes')

Yes
Yes
Yes
Yes
Yes

In [33]:
list1

[2, 4, 6, 8, 10]

In [32]:
for number in list1:
    print(number+number)

4
8
12
16
20

## while Loops

In [34]:
i = 1
while i < 5:
    print(i)
    i = i+1

1
2
3
4

## range()

In [10]:
range(5)

range(0, 5)

In [11]:
for i in range(5):
    print(i)

0
1
2
3
4

In [12]:
list(range(5))

[0, 1, 2, 3, 4]

## functions

In [ ]:
# In Python a function is defined using the def keyword:

In [ ]:
# Parameters or Arguments?
# The terms parameter and argument can be used for the same thing: information that are passed into a function.
# refrence:https://www.w3schools.com/python/python_functions.asp

In [3]:
def my_func(a,b,c):
    """
    Docstring goes here.
    """
    print(code)

In [6]:
def my_func():
    code = "python"
    print(code)

In [7]:
my_func()

NameError: name 'code' is not defined

In [11]:
def my_func():
    """
    Docstring goes here.
    """
    print("hello")

In [12]:
my_func()

hello

## Calling a Function
To call a function, use the function name followed by parenthesis

In [6]:
my_func()

python

my_func('C++')

In [17]:
def square(x=2):
    return x**2

In [18]:
out = square()

In [19]:
print(out)

4

In [20]:
print(2324)

2324

## Number of Arguments

In [ ]:
# Number of Arguments
# By default, a function must be called with the correct number of arguments.
# Meaning that if your function expects 2 arguments, 
# you have to call the function with 2 arguments, not more, and not less.

# refrence:https://www.w3schools.com/python/python_functions.asp

In [13]:
def my_function(firstname, lastname):
    print(firstname + " " + firstname)

my_function("zhinoos", "adibi")

zhinoos zhinoos

## Arbitrary Arguments, *args
If you do not know how many arguments that will be passed into your function,
add a * before the parameter name in the function definition.

This way the function will receive a tuple of arguments, 
and can access the items accordingly:

refrence:https://www.w3schools.com/python/python_functions.asp

In [ ]:
# Example
# If the number of arguments is unknown, add a * before the parameter name:

In [19]:
def my_function(*cars):
    print("my car  is " + cars[0])

my_function("206", "207", "pride")

my car  is 206

## Boolean parameter

In [5]:
def my_func(tavan = True,multiple = False,c = 5,d = 6):
    """
    this is function with boolean parameter
    
    """
    if tavan:
        var_tavan= c**2
        print(var_tavan,"\n\n")
    if multiple:
        var_multiple = d*2
        print( var_multiple)

In [7]:
my_func()

25

In [11]:
def my_func2(tavan = True,multiple = False,c = 5,d = 6):
    """
    this is function with boolean parameter
    
    """
    if tavan:
        var_tavan= c**2
        return(var_tavan)
    if multiple:
        var_multiple = d*2
        return( var_multiple)

In [12]:
my_func2()

25

In [19]:
def my_fun(b):
    c = b*2
    return c

In [20]:
 my_fun(8)

16

In [35]:
x = 8

In [ ]:
x = x+2

In [ ]:
x+=2

In [8]:
x = x*2
x

4

In [10]:
x*=2

In [11]:
x

4

## lambda expressions

In [21]:
my_var =lambda a,b,c:a+b+b

In [22]:
my_var(3,4,5)

11